# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/napo0703.github.io.iml
.idea/workspace.xml